In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [ ]:
import pandas as pd
import numpy as np

**Step 2: Importing dataset**

In [ ]:
df=pd.read_csv('Data.csv')

In [ ]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 3: Handling the missing data**

In [ ]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [ ]:
df['Age']=df['Age'].fillna(df.Age.median())

In [ ]:
df['Salary'].interpolate(method='linear',inplace=True)

**Step 4: Encoding categorical data**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        10 non-null     float64
 2   Salary     10 non-null     float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [ ]:
df['Purchased'].nunique()

2

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder()
purchase_oe=oe.fit_transform(df[['Purchased']])

In [ ]:
purchase_oe=pd.DataFrame(purchase_oe,columns=['Purchased'])
df1=pd.concat([df.iloc[:,:-1],purchase_oe],axis=1)

In [ ]:
df1

   Country   Age   Salary  Purchased
0   France  44.0  72000.0        0.0
1    Spain  27.0  48000.0        1.0
2  Germany  30.0  54000.0        0.0
3    Spain  38.0  61000.0        0.0
4  Germany  40.0  59500.0        1.0
5   France  35.0  58000.0        1.0
6    Spain  38.0  52000.0        0.0
7   France  48.0  79000.0        1.0
8  Germany  50.0  83000.0        0.0
9   France  37.0  67000.0        1.0

**Step 5: Creating a dummy variable**

In [ ]:
dummy_df=pd.get_dummies(df1['Country'])
dummy_df

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       0        1      0
3       0        0      1
4       0        1      0
5       1        0      0
6       0        0      1
7       1        0      0
8       0        1      0
9       1        0      0

In [ ]:
df1=pd.concat([dummy_df,df1.iloc[:,1:]],axis=1)

In [ ]:
df1

   France  Germany  Spain   Age   Salary  Purchased
0       1        0      0  44.0  72000.0        0.0
1       0        0      1  27.0  48000.0        1.0
2       0        1      0  30.0  54000.0        0.0
3       0        0      1  38.0  61000.0        0.0
4       0        1      0  40.0  59500.0        1.0
5       1        0      0  35.0  58000.0        1.0
6       0        0      1  38.0  52000.0        0.0
7       1        0      0  48.0  79000.0        1.0
8       0        1      0  50.0  83000.0        0.0
9       1        0      0  37.0  67000.0        1.0

**Step 6: Splitting the datasets into training sets and Test sets**

In [ ]:
X=df1.iloc[:,:-1]
y=df1['Purchased']

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

**Step 7: Feature Scaling**

In [ ]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
X_train=mms.fit_transform(X_train)
X_test=mms.transform(X_test)